@font-face {
  font-family: 'blackoutmidnight';
  src: url('blackout-midnight-webfont.woff2') format('woff2'),
  url('blackout-midnight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
#map-container {
  position: relative;
  padding-bottom: 53%;
  height: 0;
}
#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 98%;
  height: 100%;
  margin-bottom: 20px;
}
svg {
  top: 0;
  left: 0;
  z-index: -1;
}
line.stick {
}
path {
  stroke: #ccc;
  stroke-width: 0px;
  fill: white;
}
text {
  cursor: pointer;
}
.rollover-text {
  top: 50%;
  font-size: 16px;
  font-family: Merriweather;
  font-weight: 200;
  margin-left: 20px;
  margin-right: 15px;
}
#map-rollover {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  align-items: center;
  margin: 20px;
  padding: 10px;
  background-color: #fff;
  left: 0;
  z-index: 1;
}
#rollover-img {
  opacity: 0.0;
  width: 32px;
  height: 18px;
}

@media only screen and (max-width : 768px) {
  #map-container {
    display: none;
  }
}
